* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #f55a5a;
  padding: 0.5em;
  color: #f5f5f5;
}

.image {
  height: 13em;
  width: 13em;
}
